---

---

<section class="bg-[--var-bgcolor] flex flex-col items-center justify-center h-screen md:h-screen px-4 md:px-0">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-screen-lg">
     
      <div class="flex flex-col items-center justify-center text-center md:text-left p-4">
        <h1 class="text-4xl md:text-7xl font-texth1 text-[--var-color-tex] first-letter: ">
          Bienvenido A
          <span class="block md:inline text-2xl md:text-3xl font-texth1 text-[--var-color-text]">
            La biblioteca de la universidad
            <span class="text-lg md:text-xl underline decoration-[--var-color-text-red] animate-pulse ">
              IES N°9-012
            </span>
          </span>
        </h1>
      </div>

      <div class="flex flex-col items-center justify-center" data-aos="fade-up-left">
        <img src="/biblioteca.png" alt="Book" class="w-2/3 md:w-full max-w-sm rotate-12 shadow-lg shadow-red-700 saturate-150 " />
      </div>
      
    </div>
  </section>

